*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    background-color: rgba(114, 85, 149, 0.5);
  
}
.nav{
    display: flex;
    justify-content:space-between;
}

.nav .links ul{
    display: flex;
  
    
}

